<h1>{{titulo}}</h1>
<p class="zoom-area">{{descripcion}}</p>
<div class="image-container">
  <div class="container-enlarge">
    <img src="{{urlimagen}}">
    <span><img src="{{urlimagen}}"></span>
  </div>

  <div class="container-enlarge">
    <img src="{{urlimagen+1}}">
    <span><img src="{{urlimagen+1}}"></span>
  </div>

  <div class="container-enlarge">
    <img src="{{urlimagen+2}}">
    <span><img src="{{urlimagen+2}}"></span>
  </div>

  <div class="container-enlarge">
    <img src="{{urlimagen+3}}">
    <span><img src="{{urlimagen+3}}"></span>
  </div>
</div>